<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description" content=""/>
        <meta name="keywords" content="">
        <meta name="author" content=""/>
        <meta name="MobileOptimized" content="320">
        <title>InboxGun</title>
        <link rel="shortcut icon" type="image/ico" href="/images/favicon.png" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    </head>
    <body>
        <div class="ms_preloader_wrapper">
            <div class="ms_preloader_inner"><span></span><span></span><span></span></div>
        </div>
        <div class="ig_alert_wrapper">
            <div class="ig_alert"></div>
        </div>
        <div class="ig_main_wrapper">
            <div class="ig_auth_wrapper">
                <div class="ig_auth_inner">
                    <div class="ig_auth_log">
                        <a href="/"><img src="/images/logo.svg" alt=""></a>
                    </div>
                    <h3>Register</h3>
                    <p>Register with your InboxGun account.</p>
                    
                    <div class="ig_input_wrapper ig_input_icon ig_reg">
                        <input type="text" class="ig_input" id="user" placeholder="Full Name" />
                        <span class="ig_icon"><i class="fa fa-user"></i></span>
                        <div class="input_error">
                            <span id="userError"></span>
                        </div>
                    </div>

                    <div class="ig_input_wrapper ig_input_icon ig_reg">
                        <input type="email" class="ig_input" id="email1" placeholder="Email" />
                        <span class="ig_icon"><i class="fa fa-envelope"></i></span>
                        <div class="input_error">
                            <span id="email1Error"></span>
                        </div>
                    </div>
                                       
                    <div class="ig_input_wrapper ig_input_icon ig_reg">
                        <input type="password" class="ig_input" id="pass" placeholder="Password" />
                        <span class="ig_icon"><i class="fa fa-lock"></i></span>
                        <div class="input_error">
                            <span id="passError"></span>
                        </div>
                    </div>
                    
                    <button type="button" class="ig_btn" id="ig_reg_btn" onclick="register()">Register</button>
                    <br/><br/><br/>
                    <p style="margin: 0;">Alredy have an account? <a href="/">Login</a> Here.</p>
                </div>
            </div>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/custom.js"></script>
    </body>
</html>